@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");
@media all and (max-width: 991px), all and (orientation: portrait){
    @include aoa-bg-series($img__classes--v,$img__aoa--v,0,"center","cover","scroll");
    .about{
        &-s1,&-s2{
            background-color: #999!important;
            background-blend-mode: overlay!important;
        }
    }
    .contact{
        &-s1{
            background-position-x: right!important;
        }
    }
        
}
*{
    font-family: "JosefinSans";
}
.basket{
    &-s1{
        background-position-y: bottom;
    }
    &-s2{
        background-position-y: top!important;
        background-color: #999!important;
        background-blend-mode: overlay!important;
    }
}
.bg{
    &-teal{
        background-color: $color__teal;
    }
}
.border{
    &-teal{
        border-color: $color__teal!important;
    }
}
.comingsoon,.error{
    &-s1{
        background-position-x: 40%!important;
    }
}
.contact{
    &-s2{
        background-color: #999!important;
        background-blend-mode: overlay!important;
    }
}
.menu{
    &-s1{
        background-position-y: bottom;
    }
    &-s2{
        background-position-y: top!important;
        background-color: #999!important;
        background-blend-mode: overlay!important;
    }
}
.navbar{
    &-logo{
        height: $logo__height;
    }
}
.privacy{
    &-s1{
        background-position-x: left!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
    &-teal{
        color: $color__teal;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width:767px){
    .navbar{
        &-nav{
            & .nav-item:hover{
                opacity: 0.7;
            }
            backdrop-filter: blur(5px); 
            background-color: $color__teal;
            border: 1px solid darken($color__teal,30%);
            opacity: 0.9;
            padding: 10px;
        }
    }
}