@include aoa-bg-series($img__classes,$img__aoa,0,"center","cover","scroll");

.comingsoon,.error{
    &-s1{
        background-position-x: 40%!important;
    }
}
.privacy{
    &-s1{
        background-position-x: left!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}